@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
.Main .parte2 h1 {
  font-size: 30px;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.Main .parte2 p {
  display: flex;
  justify-content: center;
}
.Main .parte3 h1 {
  font-size: 30px;
  margin-top: 50px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.Main .parte3 p {
  display: flex;
  justify-content: center;
}
.Main .parte3 .grid {
  grid-template-columns: 1fr 1fr 1fr;
}
.Main .parte3 .logos {
  width: 100%;
  width: 200px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 80px;
}
.Main .parte3 .logos .google {
  width: 130px;
}
.Main .parte3 .logos .ibm {
  width: 100px;
}
.Main .parte3 .logos .microsoft {
  width: 140px;
}
.Main .parte3 .logos .hp {
  width: 130px;
  margin-top: -15px;
}
.Main .parte3 .logos .vector {
  width: 120px;
}
.Main .parte3 .clipboard {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Bai Jamjuree", sans-serif;
}

/*@import './styles/l-html';
@import './styles/l-header';

@import './styles/l-footer';*/
.Body {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Bai Jamjuree", sans-serif;
}

.Header {
  width: auto;
  height: auto;
  background-image: url(../public/images/bg-header-desktop.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
.Header .logo {
  margin-bottom: 30px;
  align-items: center;
}
.Header h1 {
  margin-bottom: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 3rem;
  text-align: center;
}
.Header p {
  width: 60%;
  margin-bottom: 40px;
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  text-align: center;
}
.Header .btn-1 {
  color: white;
  width: 200px;
  height: 40px;
  background-color: hsl(171, 66%, 44%);
  border-color: hsl(171, 66%, 44%);
  border: 1px solid hsl(171, 66%, 44%);
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Bai Jamjuree", sans-serif;
}
.Header .btn-2 {
  width: 200px;
  height: 40px;
  color: white;
  background-color: hsl(233, 100%, 69%);
  border: 1px solid hsl(233, 100%, 69%);
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Bai Jamjuree", sans-serif;
}

@media (max-width: 375px) {
  .Header {
    padding: 0px;
  }
  .Header h1 {
    font-size: 1.5rem;
    padding: 0px;
  }
  .Header p {
    width: 100%;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
  }
  .Header .btn-1 {
    width: 90%;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .Header .btn-2 {
    width: 90%;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}
.Main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Main .encabezado {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.Main .encabezado h2 {
  margin-top: auto;
  margin-bottom: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 2rem;
  color: hsl(210, 10%, 33%);
  text-align: center;
}
.Main .encabezado p {
  width: 50%;
  margin-top: auto;
  color: hsl(201, 11%, 66%);
  text-align: center;
  font-style: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}
.Main .parte-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -5%;
}
.Main .parte-1 .pc {
  width: 40%;
  padding-left: -5%;
}
.Main .parte-1 .pc img {
  padding-left: -5%;
}
.Main .parte-1 .derecha {
  width: 50%;
  height: 750px;
  padding-top: 50px;
  display: inline-block;
  align-items: normal;
  padding-left: 300px;
}
.Main .parte-1 .derecha h3 {
  width: auto;
  height: auto;
  color: hsl(210, 10%, 33%);
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  margin-bottom: 20px;
  padding-left: 20px;
}
.Main .parte-1 .derecha p {
  width: 50%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 15px;
  color: hsl(201, 11%, 66%);
  font-family: "Bai Jamjuree", sans-serif;
  padding-left: 20px;
  text-align: left;
}
.Main .parte-2 h3 {
  width: 100%;
  margin-top: auto;
  text-align: center;
  color: hsl(210, 10%, 33%);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 20px;
}
.Main .parte-2 p {
  width: 50%;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
.Main .parte-2 img {
  width: auto;
  height: auto;
  align-items: center;
}
.Main .parte-3 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.Main .parte-3 .blacklists, .Main .parte-3 .text, .Main .parte-3 .preview {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 230px;
  justify-content: center;
}
.Main .parte-3 .blacklists img, .Main .parte-3 .text img, .Main .parte-3 .preview img {
  width: 20%;
  padding-right: 20%;
}
.Main .parte-3 .blacklists h3, .Main .parte-3 .text h3, .Main .parte-3 .preview h3 {
  width: 80%;
  height: auto;
  margin-bottom: 5px;
  color: hsl(210, 10%, 33%);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.2rem;
}
.Main .parte-3 .blacklists p, .Main .parte-3 .text p, .Main .parte-3 .preview p {
  margin-top: 5px;
  width: 80%;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
}
.Main .logos {
  width: 100%;
  height: auto;
}
.Main .clipboard {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  font-family: "Bai Jamjuree", sans-serif;
}
.Main .clipboard h2 {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 2rem;
  color: hsl(210, 10%, 33%);
  text-align: center;
}
.Main .clipboard p {
  width: 50%;
  margin-top: auto;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  text-align: center;
  font-style: 18px;
}
.Main .clipboard .btn-1 {
  color: white;
  width: 200px;
  height: 40px;
  background-color: hsl(171, 66%, 44%);
  border-color: hsl(171, 66%, 44%);
  border: 1px solid hsl(171, 66%, 44%);
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Bai Jamjuree", sans-serif;
}
.Main .clipboard .btn-2 {
  width: 200px;
  height: 40px;
  color: white;
  background-color: hsl(233, 100%, 69%);
  border: 1px solid hsl(233, 100%, 69%);
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Bai Jamjuree", sans-serif;
}

@media (max-width: 375px) {
  .Main .encabezado {
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    margin-bottom: 20px;
  }
  .Main .encabezado h2 {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .Main .encabezado p {
    font-size: 15px;
    width: 80%;
    margin: 0px;
    padding: 0px;
  }
  .Main .parte-1 {
    display: block;
    justify-content: center;
  }
  .Main .parte-1 .pc img {
    width: 80%;
    margin-left: 10%;
  }
  .Main .parte-1 .derecha {
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  .Main .parte-1 .derecha h3 {
    width: 80%;
  }
  .Main .parte-1 .derecha p {
    width: 80%;
    text-align: center;
    justify-content: center;
  }
  .Main .parte-2 {
    padding-left: 15%;
    width: 100%;
  }
  .Main .parte-2 img {
    justify-content: center;
    width: 80%;
  }
  .Main .parte-2 h3 {
    width: 80%;
    margin: 0;
    padding: 0;
  }
  .Main .parte-2 p {
    width: 80%;
    padding: 5px;
    text-align: center;
    justify-content: center;
  }
  .Main .parte-3 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }
  .Main .parte-3 .blacklists, .Main .parte-3 .text, .Main .parte-3 .preview {
    width: 80%;
    padding: 0px;
    padding-left: 10%;
    margin: 0px;
  }
  .Main .parte-3 .blacklists h3, .Main .parte-3 .text h3, .Main .parte-3 .preview h3 {
    width: 100%;
  }
  .Main .parte-3 .blacklists p, .Main .parte-3 .text p, .Main .parte-3 .preview p {
    width: 100%;
  }
  .Main .logos img {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
  }
  .Main .clipboard {
    padding: 0px;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .Main .clipboard h3 {
    width: 80%;
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: center;
  }
  .Main .clipboard p {
    width: 80%;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
  }
  .Main .clipboard .btn-1 {
    width: 90%;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .Main .clipboard .btn-2 {
    width: 90%;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}
.footer {
  background-color: rgb(245, 246, 248);
  color: rgb(111, 113, 116);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 10px 1fr;
  gap: 20px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.footer .logo2 {
  margin-top: 15px;
}
.footer .section2 {
  margin-top: 15px;
}
.footer .section3 {
  margin-top: 15px;
}
.footer .section4 {
  margin-top: 15px;
}
.footer .section5 {
  grid-column: 6/7;
  margin-top: 15px;
  display: inline-flex;
}
.footer .section5 .iconos {
  margin: 17px;
}
.footer .section6 {
  grid-column: 3/4;
}/*# sourceMappingURL=styles.css.map */