$margin: 15px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.Footer {
    background-color: rgb(245, 246, 248);
    color: rgb(111, 113, 116);
    width: 100%;
    height: 120px;
    margin-bottom: 0px;
    border-top: 1px solid #F3F4F6;
    background-color: #F5F6F8;
    display: flex;
    flex-direction: row;
    font-family: $tipografia;
    
   & .logo2 {
        width: 50px;
        height: 50px;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
       
   } 
   & .section2{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        & ul {
            list-style: none;

            & li{
                margin-bottom: 10px;
                color: $color3;
                text-decoration: none;
                font-family: $tipografia;
            }
        }
    }
   & .section3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    & ul{
        list-style: none;
        & li{
            margin-bottom: 10px;
            color: $color3;
            font-family: $tipografia;
        }
    }
   }
   & .section4 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        & ul{
            list-style: none;
            & li{
                margin-bottom: 10px;
                color: $color3;
                font-family: $tipografia;
            }
        }
   }
   & .section5 {
    grid-column: 6/7;
    margin-top: $margin;
    display: inline-flex;
        & .iconos {
            margin: 17px;   
        }
   }
   & .section6 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        & img{
            padding-right: 20px;
            transition: all 500m;
        }

   }
    
}


   
@media screen and (max-width:375px) {
    .footer {
        background-color: rgb(245, 246, 248);
	    color: rgb(84, 85, 89);
	    width: 100%;
	    font-weight: bolder;
	    font-size: 18px;
	    gap: 20px;
	    font-family: "Poppins", sans-serif;
	    display: flex;
	    flex-direction: column;
	    align-items: center;

        & figure {
            margin: 0;
            & .logo2 {
                margin-top:15px;
            }
        }
        & .section2 {
            margin-top: -15px;
            & p:nth-child(1) {
                margin-left: 27px;
            }
        }
        & .section3 {
            margin-top: -35px;
            & p:nth-child(2) {
                margin-left: 23px;
            }
         }
        & .section4 {
            margin-top: -35px;
        }
        & .section5 {
            margin-top: -15px;
            display: inline-flex
        } 
    }
}

    

@media  (max-width:375px) {
    .Footer {
        height: 100%;
        background-color: rgb(245, 246, 248);
	    color: rgb(84, 85, 89);
	    width: 100%;
	    font-weight: bolder;
	    font-size: 18px;
	    gap: 20px;
	    font-family: "Poppins", sans-serif;
	    display: flex;
	    flex-direction: column;
	    

        & figure {
            
            margin: 0;
            & .logo2 {
                margin-top:15px;
            }
        }
        & .section2 {
            margin-top: -15px;
            
            
        }
        & .section3 {
            margin-top: -35px;
            
            
         }
        & .section4 {
            margin-top: -35px;
        }
        & .section5 {
            margin-top: -15px;
            display: inline-flex
        } 
    }
}




