$margin: 15px;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.footer {
    background-color: rgb(245, 246, 248);
    color: rgb(111, 113, 116);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 10px 1fr;
    gap: 20px; 
    justify-content: center;
     font-family: 'Poppins', sans-serif;
    
   & .logo2 {
    margin-top: $margin;
    
   } 
   & .section2{
    margin-top: $margin;
   
   }
   & .section3 {
    margin-top: $margin;
   }
   & .section4 {
    margin-top: $margin;
   }
   & .section5 {
    grid-column: 6/7;
    margin-top: $margin;
    display: inline-flex;
        & .iconos {
            margin: 17px;   
        }
   }
   & .section6 {
    grid-column: 3/4;
   }
    
}
   




