//colors
$color1: hsl(171, 66%, 44%);
$color2: hsl(233, 100%, 69%);
$color3: hsl(210, 10%, 33%);
$color4:hsl(201, 11%, 66%);
$color5:white;
//fonts 
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$fontSize:18px;
$tipografia:'Bai Jamjuree', sans-serif;;


   
.Header{
    width: auto;
    height: auto;
    background-image: url(../public/images/bg-header-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;

        padding: 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: $tipografia;
        font-size: $fontSize;

        & .logo{
            margin-bottom: 30px;
            align-items: center;
        }

        & h1{
            margin-bottom: 20px;
            font-family: $tipografia;
            color: $color3;
            font-size: 3rem;
            text-align: center;
        }
        
        & p{
            width: 60%;
            margin-bottom: 40px;
            color: $color4;
            font-size: $fontSize;
            text-align: center;
            
        }
    
        & .btn-1{
                color:$color5;
                width: 200px;
                height: 40px;
                background-color:$color1;
                border-color: $color1;
                border: 1px solid $color1;
                border-radius: 50px;
                margin-right: 10px;
                margin-bottom: 10px;
                font-family: $tipografia;
                     
                
        }
        & .btn-2{
                width:200px ;
                height: 40px;
                color: $color5;
                background-color: $color2;
                border: 1px solid $color2;
                border-radius: 50px;
                margin-right: 10px;
                margin-bottom: 10px;
                font-family: $tipografia;
                

        }
    }       
        
    @media (max-width:375px){
        .Header{
            padding: 0px;
            & h1{
                font-size: 1.5rem; 
                padding: 0px;
            }
            & p{
                width: 100%;
                font-size: 1rem;
                padding: 0px;
                margin:0px;
                margin-bottom: 30px;
            }
            & .btn-1{
                width: 90%;
                letter-spacing: 1px;
                margin-bottom: 10px;
                
            }
            & .btn-2{
                    width: 90%;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    
            }
            
        }

    }